<section class="colin-jost-forever">
    <img class="colin-jost-img"
         src="https://media.tenor.com/xFZd_N48Uu4AAAAC/i-dont-know-saturday-night-live.gif"
         alt="Colin Jost is happy">
    <h1>You got it!</h1>
</section>
