<section class="colin-jost-forever">
    <img class="colin-jost-img"
         src="https://media.tenor.com/k29mMpdn7RwAAAAC/oooh-saturday-night-live.gif"
         alt="Colin Jost show his disappointment"/>
    <h1>{{ errorMessage }}</h1>
</section>

