/* You can add global styles to this file, and also import other style files */
.colin-jost-forever {
  display: flex;
  align-items: center;
  flex-flow: column;
  padding-top: 15vh
}

.colin-jost-img {
  display: block;
  width: 498px;
  height: 498px;
}
