<section class="colin-jost-forever">
    <img class="colin-jost-img"
         src="https://media.tenor.com/f9kGOGsl27YAAAAC/sure-colin-jost.gif"
         alt="Colin Jost have question">
    <button [ngStyle]="{ 'padding': '.5rem .7rem', 'margin': '1rem' }" routerLink="/protected">Try it protected route</button>
</section>

